:root {
  --primary-red: #9b2c2c;
  --primary-hover: #c53030;
  --accent-blue: #1a365d;
  --bg-color: #f7fafc;
  --card-bg: #ffffff;
  --text-main: #2d3748;
  --text-muted: #718096;
  --whatsapp-green: #25d366;
  --header-bg: #ffffff22;
  --main-fs: "Cairo", sans-serif;
  --main-transition: 0.3s;
  --fw-sm: 500;
  --fw-md: 600;
  --fw-lg: 700;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.3rem;
  --space-xl: 2rem;
  --space-xxl: 4rem;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 30px;
  --fs-xs: 0.875rem;
  --fs-sm: 1rem;
  --fs-md: 1.1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 1.75rem;
  --fs-title: 2.2rem;
  --fs-hero: 3.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: var(--main-fs);
  background-color: var(--bg-color);
  direction: rtl;
  line-height: 2.1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--space-xs);
}
header {
  background-color: var(--header-bg);
}
a {
  color: white;
  text-decoration: none;
}
header a {
  font-weight: var(--fs-md);
  font-size: var(--fs-lg);
  height: 100%;
  padding: var(--space-md);
  display: block;
  color: var(--accent-blue);
  transition: var(--main-transition);
}
header .logo {
  padding: 0;
}
header .logo img {
  height: 100px;
  padding: var(--space-md);
}
header a:not(.logo):hover {
  color: var(--primary-red);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: flex;
  list-style: none;
}
#menu-toggle {
  display: none;
}
.hero {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url("imgs/hero.png") no-repeat center/cover;
  height: calc(95vh - 100px);
  position: relative;
}
.hero::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  backdrop-filter: brightness(90%) blur(1px);
}
.hero-subtitle,
.hero h1,
.btn-primary {
  z-index: 99;
  position: relative;
  display: block;
}
.hero-subtitle {
  color: var(--text-main);
  filter: invert();
  font-weight: var(--fw-sm);
  font-size: var(--fs-lg);
}
.hero h1 {
  color: var(--card-bg);
  font-size: var(--fs-hero);
  font-weight: var(--fw-lg) !important;
}
.highlight {
  color: var(--primary-red);
}
.btn-primary {
  background-color: var(--primary-red);
  padding: var(--space-lg) var(--space-xxl);
  font-size: var(--fs-lg);
  margin: var(--space-md);
  border-radius: var(--radius-lg);
  justify-self: center;
  transition: var(--main-transition);
}
.btn-primary:hover {
  background-color: var(--primary-hover);
}
.menu-btn {
  display: none;
  flex-direction: column;
  width: 30px;
  height: 25px;
  gap: 30%;
}
.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: var(--text-main);
  transition: var(--main-transition);
}
#menu-toggle:checked ~ .menu-btn span:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 10px);
}

#menu-toggle:checked ~ .menu-btn span:nth-child(2) {
  opacity: 0;
  transform: translate(-10px, 10px);
}

#menu-toggle:checked ~ .menu-btn span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

.section-title {
  font-size: var(--fs-title);
  text-align: center;
  position: relative;
  width: fit-content;
  justify-self: center;
  color: var(--primary-hover);
}
.section-title:before {
  content: "";
  background-color: var(--primary-red);
  width: 90%;
  height: 3px;
  position: absolute;
  bottom: -10px;
  right: 5%;
  border-radius: var(--radius-sm);
}
#pdfs {
  padding: var(--space-xl);
}
.product-grid {
  display: flex;
  padding-block: var(--space-xxl);
  width: 100%;
  gap: var(--space-lg);
  overflow-x: scroll;
  align-items: baseline;
}
.card {
  background-color: var(--card-bg);
  min-width: 350px;
  border-radius: var(--radius-md);
  overflow: hidden;
  margin-inline: var(--space-sm);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.144);
}
.card-content {
  padding: var(--space-md);
}
.product-grid {
  overflow-x: auto;
  display: flex;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.buy-btn {
  display: block;
  text-align: center;
  background-color: var(--primary-red);
  color: var(--bg-color);
  padding: var(--space-sm);
  border-radius: var(--radius-md);
  font-size: var(--fs-sm);
  transition: var(--main-transition);
}
.price {
  color: var(--accent-blue);
  font-size: var(--fs-lg);
  line-height: 2;
}
.card .desc {
  color: var(--text-muted);
}
.buy-btn:hover {
  background-color: var(--primary-hover);
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 370px));
  gap: var(--space-lg);
  padding-block: var(--space-xxl);
}
@media (max-width: 768px) {
  header {
    background-color: #fff;
  }
  header .container {
    padding-inline: 1rem;
  }
  ul {
    position: absolute;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    text-align: center;
    top: 80px;
    z-index: 9999;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: var(--main-transition);
  }
  ul li a {
    border-top: 1px solid var(--accent-blue);
  }
  #menu-toggle:checked ~ ul {
    top: 100px;
    visibility: visible;
    opacity: 1;
  }
  .hero h1 {
    font-size: var(--fs-title);
  }
  .hero-subtitle {
    font-size: var(--fs-sm);
  }
  .menu-btn {
    display: flex;
  }
  .btn-primary {
    padding: var(--space-md) var(--space-lg);
  }
  #pdfs {
    padding: var(--space-md) 0;
  }
}
