:root {
  --primary: #0f6e56;
  --primary-hover: #1d9e75;
  --primary-light: #eeffff;
  --accent: #fac775;
  --bg: #ffffff;
  --bg-section: #f8f8f8;
  --bg-card: #ffffff;
  --text: #2d3748;
  --text-muted: #718096;
  --whatsapp: #25d366;
  --whatsapp-hover: #1ebe5d;
  --header-bg: rgba(255, 255, 255, 0.15);
  --font: "IBM Plex Sans Arabic", sans-serif;
  --transition: 0.3s;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 4rem;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 30px;
  --fs-xs: 0.9rem;
  --fs-sm: 1rem;
  --fs-md: 1.1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 1.75rem;
  --fs-title: 2.2rem;
  --fs-hero: 3.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: var(--font);
  background-color: var(--bg-color);
  direction: rtl;
  line-height: 1.8;
  color: var(--text);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--space-xs);
}
header {
  background-color: var(--header-bg);
}
a {
  color: white;
  text-decoration: none;
}
header a {
  font-weight: var(--fw-medium);
  font-size: var(--fs-lg);
  height: 100%;
  padding: var(--space-md);
  display: block;
  color: var(--text);
  transition: var(--transition);
}
header .logo {
  padding: 0;
}
header .logo img {
  height: 100px;
  padding: var(--space-md);
}
header a:not(.logo):hover {
  color: var(--primary);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: flex;
  list-style: none;
}
#menu-toggle {
  display: none;
}
.hero {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url("imgs/hero.png") no-repeat center/cover;
  height: calc(95vh - 100px);
  position: relative;
}
.hero::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
}
.hero-subtitle,
.hero h1,
.btn-primary {
  z-index: 99;
  position: relative;
  display: block;
}
.hero-subtitle {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.154);
  color: var(--text);
  color: #ddd;
  font-weight: var(--fw-regular);
  font-size: var(--fs-lg);
  margin-bottom: var(--space-xl);
}
.hero h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.154);
  color: var(--primary-light);
  font-size: var(--fs-hero);
  font-weight: var(--fw-bold);
  margin-bottom: var(--space-md);
}
.highlight {
  color: var(--primary);
}
.btn-primary {
  background-color: var(--primary);
  padding: var(--space-lg) var(--space-xxl);
  font-size: var(--fs-lg);
  margin: var(--space-md);
  border-radius: var(--radius-lg);
  justify-self: center;
  transition: var(--transition);
  font-weight: var(--fw-bold);
}
.btn-primary:hover {
  background-color: var(--primary-hover);
}
.menu-btn {
  display: none;
  flex-direction: column;
  width: 30px;
  height: 25px;
  gap: 30%;
}
.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: var(--text);
  transition: var(--transition);
}
#menu-toggle:checked ~ .menu-btn span:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 10px);
}

#menu-toggle:checked ~ .menu-btn span:nth-child(2) {
  opacity: 0;
  transform: translate(-10px, 10px);
}

#menu-toggle:checked ~ .menu-btn span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

.section-title {
  font-size: var(--fs-title);
  text-align: center;
  position: relative;
  width: fit-content;
  justify-self: center;
  color: var(--primary-hover);
}
.section-title:before {
  content: "";
  background-color: var(--primary);
  width: 90%;
  height: 3px;
  position: absolute;
  bottom: -10px;
  right: 5%;
  border-radius: var(--radius-sm);
}
#pdfs {
  padding: var(--space-xl);
}
.product-grid {
  display: flex;
  padding-block: var(--space-xxl);
  width: 100%;
  gap: var(--space-lg);
  overflow-x: scroll;
  align-items: baseline;
}
.card {
  background-color: var(---bg-card);
  min-width: 300px;
  border-radius: var(--radius-md);
  overflow: hidden;
  margin-inline: var(--space-sm);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.144);
}

.card-content {
  padding: var(--space-md);
}
.card-content h3 {
  font-weight: var(--fw-medium);
}
.product-grid {
  overflow-x: auto;
  display: flex;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.buy-btn {
  display: block;
  text-align: center;
  background-color: var(--primary);
  color: var(--primary-light);
  padding: var(--space-sm);
  border-radius: var(--radius-md);
  font-size: var(--fs-sm);
  transition: var(--transition);
}
.price {
  color: var(--primary);
  font-size: var(--fs-lg);
  line-height: 2;
  font-weight: var(--fw-medium);
}
.card .desc {
  color: var(--text-muted);
}
.buy-btn:hover {
  background-color: var(--primary-hover);
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 370px));
  gap: var(--space-lg);
  padding-block: var(--space-xxl);
  place-items: center;
  place-content: center;
  align-items: stretch;
}
.testimonials-grid .card {
  border-radius: var(--radius-md);
  transition: var(--transition);
  padding: var(--space-lg);
  min-width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bg-card);
}
.testimonials-grid .card .desc {
  margin-top: var(--space-md);
  color: var(--text);
  flex: 1;
}
.rating {
  font-size: var(--fs-xl);
  color: var(--accent);
}
.testimonials-grid .card:hover {
  transform: translateY(-5px);
}
.fa-whatsapp {
  color: #25d366;
  font-size: var(--fs-lg);
}

.card .user {
  line-height: 1.2;
  font-weight: var(--fw-medium);
  font-size: var(--fs-lg);
}

.source {
  color: var(--text-muted);
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
.card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  padding-bottom: var(--space-lg);
}
.card .profile-photo {
  background-color: #e1f5ee;
  color: #0f6e56;
  width: 70px;
  height: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-lg);
}
.testimonials-grid .card:nth-of-type(1) .profile-photo {
  background-color: #faece7;
  color: #993c1d;
}
.testimonials-grid .card:nth-of-type(2) .profile-photo {
  background: #e6f1fb;
  color: #185fa5;
}
#pdfs,
.testimonials {
  background: var(--bg-section);
}
#pdfs,
.testimonials,
#courses {
  padding-block: var(--space-xl);
}
@media (max-width: 768px) {
  header {
    background-color: #fff;
  }
  header .container {
    padding-inline: 1rem;
  }
  ul {
    position: absolute;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    text-align: center;
    top: 80px;
    z-index: 9999;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
  }
  ul li a {
    border-top: 1px solid var(--accent);
  }
  #menu-toggle:checked ~ ul {
    top: 100px;
    visibility: visible;
    opacity: 1;
  }
  .hero h1 {
    font-size: var(--fs-title);
  }
  .hero-subtitle {
    font-size: var(--fs-sm);
  }
  .menu-btn {
    display: flex;
  }
  .btn-primary {
    padding: var(--space-md) var(--space-lg);
  }
  #pdfs {
    padding: var(--space-md) 0;
  }
}
